// Shadows Class
$shadows: ("normal",  0px 4px 24px rgba(0, 87, 178, 0.08), 0px 8px 32px rgba(0, 87, 178, 0.16), 0px 32px 72px rgba(0, 87, 178, 0.32)),
("orange",  0px 4px 6px rgba(255, 176, 77, 0.24), 0px 8px 10px rgba(255, 176, 77, 0.3), null),
("red", 0px 4px 6px rgba(244, 54, 54, 0.24), 0px 8px 10px rgba(244, 54, 54, 0.32), null),
("green", 0px 4px 6px rgba(0, 191, 166, 0.24), 0px 8px 10px rgba(0, 191, 166, 0.32), null),
("blue", 0px 4px 6px rgba(0, 122, 255, 0.24), 0px 8px 10px rgba(0, 122, 255, 0.32), null),
("illustration", -8px 10px 32px rgba(0, 87, 178, 0.2), -16px 16px 48px rgba(0, 87, 178, 0.24), null);

@each $shadow in $shadows {
  .as-shadow-#{nth($shadow,1)} {
    &--100 {
      box-shadow: nth($shadow, 2);
    }

    &--200 {
      box-shadow: nth($shadow, 3);
    }

    &--300 {
      box-shadow: nth($shadow, 4);
    }
  }
}

