$as-color-primary: #29384e;
$as-color-secondary: #546071;
$as-color-secondary-2: #7f8895;
$as-color-white: #fff;

$as-color-blue: #007aff;
$as-color-blue-light: #e0efff;
$as-color-blue-dark: #0057b2;

$as-color-orange: #ff9800;
$as-color-orange-light: #ffe082;
$as-color-orange-dark: #c77700;

$as-color-red: #f43636;
$as-color-red-light: #fbb2b2;
$as-color-red-dark: #a83232;

$as-color-green: #00Bfa6;
$as-color-green-light: #adebe3;
$as-color-green-dark: #00897b;

$as-color-yellow: #ffc721;
$as-color-yellow-light: #ffedb8;
$as-color-yellow-dark: #ffb547;

$as-color-gray: #f2f2f2;
$as-color-gray-light: #f3f4f6;
$as-color-gray-dark: #ededed;

$as-color-soft: #f5faff;
$as-color-disable: #ececec;

$as-color-divider: #d9dde3;
$as-color-border: #bfc5cc;
$as-color-black: #121212;
$as-color-backdrop: #7b8187;