$as-grad-blue: linear-gradient(249.77deg, #0094ff -1.99%, #007dff 43.52%, #026ce8 95.86%);
$as-grad-blue-dark: linear-gradient(75.08deg, #0e60ab 0%, #1371c8 100%);
$as-grad-red: linear-gradient(75.08deg, #e14040 0%, #fe517b 100%);
$as-grad-green: linear-gradient(74.9deg, #0da895 1.02%, #00cdac 100%);
$as-grad-green-dark: linear-gradient(75.08deg, #196982 0%, #0998c5 100%);
$as-grad-orange: linear-gradient(75.08deg, #ed6d11 0%, #ff9900 100%);
$as-grad-purple: linear-gradient(75.3deg, #65379b 0%, #aa6aea 101.21%);
$as-grad-pink: linear-gradient(75.08deg, #e74d89 0%, #fd619e 100%);