$as-shadow-black-1: 0px 4px 24px rgba(0, 87, 178, 0.08);
$as-shadow-black-2: 0px 8px 32px rgba(0, 87, 178, 0.16);
$as-shadow-black-3: 0px 8px 32px rgba(0, 87, 178, 0.32);

$as-shadow-orange-1: 0px 4px 6px rgba(255, 176, 77, 0.24);
$as-shadow-orange-2: 0px 8px 10px rgba(255, 176, 77, 0.3);

$as-shadow-red-1: 0px 4px 6px rgba(244, 54, 54, 0.24);
$as-shadow-red-2: 0px 8px 10px rgba(244, 54, 54, 0.32);

$as-shadow-green-1: 0px 4px 6px rgba(0, 191, 166, 0.24);
$as-shadow-green-2: 0px 8px 10px rgba(0, 191, 166, 0.32);

$as-shadow-blue-1: 0px 4px 6px rgba(0, 122, 255, 0.24);
$as-shadow-blue-2: 0px 8px 10px rgba(0, 122, 255, 0.32);
